{% extends "base.html" %}
{% block title %}Login :: {{settings.app_title}}{% endblock %}
{% block header %}Login{% endblock %}

{% block content %}

  <form method="POST">
    <!-- Username and Password Fields -->
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" name="username" type="text" placeholder="Enter your username">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" name="password" type="password" placeholder="Enter your password">
      </div>
    </div>

    {% if error %}
    <!-- Error Message -->
    <p class="error-message">{{error}}</p>
    {% endif %}

    <!-- Login Button -->
    <div class="field">
      <div class="control">
        <button class="button is-primary is-fullwidth">Login</button>
      </div>
    </div>
  </form>

  {% if magic_link %}
  <!-- Login with Magic Link -->
  <div class="magic-link has-text-centered">
    <a href="#">Login with Magic Link</a>
  </div>
  {% endif %}

  <!-- Sign Up -->
  <div class="sign-up has-text-centered">
    <p>Don't have an account? <a href="{{ rq.url_for('register_html') }}">Sign Up</a></p>
  </div>

{% endblock %}
